.mainBlocParent{
    height: 100vh;
}

.mainBloc{
    display: flex;
    height: 85vh;
    align-items: center;
}

.mainBlocLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6em;

    & .txt1{
        color: gray;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2em;
    }

    & .txt2 {
        font-size: 4em;
        line-height: 1.3em;
        margin-bottom: 0.5em;
    }

    & .txt3{
        font-weight: 100;
        color: gray;
        margin-bottom: 4em;    
    }

    & .btnBloc{
        display: flex;
        justify-content: space-evenly;
    }
}

.arrow{
    width: 100vw;
    height: 2em;
    display: flex;
    justify-content: center;

    & span{
        font-size: 2em;
        font-weight: bold;
    }
}