.tdButton{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 1em;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid gray;
}

.tdPrimaryButton{
    border: none;
    background-color: #4db799;
    color: white;
}