.headerText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 1em;
    box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.1);
    
    & .name {
        font-size: 1.5em;
        color: #4db799;
        display: flex;
        align-items: center;
    }

    & .companyName{
        margin-left: 10px;
        margin-right: 10px;
    }

    & .logoHeader{
        height: 2em;
    }

    & .separatorHeader{
        position: relative;
        height: 2em;
        width: 1px;
        background-color: gray;
    }

    & div {
        & a{
            color: inherit;
            text-decoration: none;
            margin-right: 1em;
        }

        & a:hover {
           text-decoration: underline;
           cursor: pointer;
           color: #4db799;
        }
    }
}

